<main class="main">
  <section class="main__card-right">
    <mat-nav-list class="main__list-horizontal">
      <mat-list-item>
        <button [routerLink]="['/inicio']">Home</button>
      </mat-list-item>
  
      <mat-list-item>
        <button routerLink="/transferencias">Transferências</button>
      </mat-list-item>
  
      <mat-list-item>
        <button routerLink="/investimentos">Investimentos</button>
      </mat-list-item>
  
      <mat-list-item>
        <button routerLink="/outros-servicos">Outros Serviços</button>
      </mat-list-item>
    </mat-nav-list>
  </section>
  
  <section class="main__card-center">
    <section class="main__card-center-up">
      <app-card-saldo class="main__card-saldo"></app-card-saldo>
    </section>
    <section class="main__card-center-down">
      <app-nova-transacao class="main__nova-transacao"></app-nova-transacao>
    </section>
  </section>
  
  <section class="main__card-left">
    <app-listar-transacoes></app-listar-transacoes>
  </section>
</main>
